.fd_body {
    height: 100%;
    background-color: white;
}
.fd_head {
    height: 60px;
    background-color: #dfd8d8;
}
.fd_head_title {
    display: block;
    float: left;
    padding-top: 20px;
    margin-left: 60px;
    font-size: 20px;
    font-weight: bold;
}
.fd_head_tj {
    color: rgb(57, 140, 235);
    display: block;
    float: left;
    padding-top: 26px;
    padding-left: 40px;
    font-size: 16px;
}