
.Logincolor {
    background-color: white;
    height: 600px;
}
.Top {
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
}
.second {
    margin-right: 30px;
    float: right;
}
.button01 {
    font-weight: bolder;
    color: rgb(22, 22, 21);
    background-color:white;
    border-color: white;
    outline: none;
    border: none;
}
.img1 {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid white;
    text-align: center;
}
.img11 {
    height: 100px;
    width: 100px;

}
.crab {
    text-align: center;
    font-weight: 900;
    font-size: 0.8em
}
.login1 {
    margin-top: 20px;

}
.login11 {
    margin-top: 10px;
}
.login12 {
    margin-top: 10px;
}
input {
    width: 80%;
    height: 40px;
    margin-left: 50px;
    display: block;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
}
.button1 {
    margin-top: 20px;
}
.button11 {
    font-size:15px;
    height: 50px;
    color: beige;
    background-color: black;
    border-color: black;
    display: block;
    width: 80%;
    margin: 0 auto;
}
.click1 {
    margin-top: 10px;
    height: 50px;
}
.button2 {
    margin-left: 30px;
    margin-top: 10px;
    float: left;
    width: 100px;
    height: 40px;
}
.button3 {
    margin-right: 0px;
    margin-top: 10px;
    float:right;
    width: 100px;
    height: 40px;
}
.button21 {
    color: rgba(31, 31, 236, 0.842);
    background-color: white;
    border-color: white;
    outline: none;
    border: none;
    font-size: 0.8em
}
.button31 {
    color: rgba(31, 31, 236, 0.842);
    background-color: white;
    border-color: white;
    outline: none;
    border: none;
    font-size: 0.8em
}
.shaixuan {
    height: 40px;
    margin-top: 3px;
    width: 100%;
    border-bottom:1px solid grey;
}
.choose01 {
    outline: none;
    /* border: none; */
    border-radius:4px;
    font-size: 0.8em;
    font-weight: bold;
    font-family: "宋体";
    color: black;
    background-color: white;
    border-color:grey;
    margin-top: 5px;
    margin-left: 30px;
    width: 50px;
    height: 25px;
}
.room01 {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    border-bottom: 1px solid grey;
}
.pic01 {
    margin-top: 0px;
    margin-left: 10px;
    float: left;
}
.but01 {
    margin-right: 100px;
    float: right;
    margin-top: 30px;
}
.but001 {
    color: black;
    outline: none;
    border: none;
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    font-family: "宋体";
}
.txt01 {
    float: right;
    margin-right: 85px;
    margin-top: 10px;
}
.txt03 {
    float: right;
    margin-right: 55px;
    margin-top: 10px;
}
.txt003 {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}
.qjx001 {
    width: 100%;
}
.wordintop {
    width: 100%;
    height: 50px;
    background-color: rgba(26, 127, 241, 0.445);
    border-radius:5px;
}
.wordintop p {
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
    font-size: 1.2em;
}
.jumptxt {
    width: 100%;
    height: 50px;
}
.jumptxt p {
    text-align: center;
    font-weight: bolder;
    margin-top: 100px;
    padding-top: 10px;
}
.jump {
    margin-top: 10px;
    width: 100%;
}
.jumpbut {
    outline: none;
    border: none;
    background-color: rgba(26, 127, 241, 0.445);
    font-family: '宋体';
    font-weight: bolder;
    width: 10%;
    height: 20px;
    margin-left: 45%; 
    border-radius:5px;
}
.roomstyleonly{
    margin-top: 10px;
}
.roome{
    /* background-color: burlywood; */
    height:160px;
    margin-top: 10px;
    border-bottom: solid 1px #998f8f;
}
.roome img{
    margin-left: 20px;
    height: 80%;
    width: 200px;
    float: left;
}
.roomA{
    /* background: cornflowerblue; */
    height: 80%;
    width: 100px;
    margin-left: 40px;
    float: left;
    margin-top: 100px;
}
.roominfor{
    height: 80%;
}
.roominfor p {
    font-size: 0.8em;
    font-family: '宋体';
    font-weight: bolder;
}