/* * {
    background-color: white;
} */
.topExit {
    width: 100%;
    height: 50px;
    background-color: rgba(117, 177, 245, 0.911);
    border-radius:5px;
}
.exit1 {
    float: right;
    margin-right: 10px;
    color: #000;
    background-color: white;
    font-size: 1.2em;
    border: none;
    height: 30px;
    width: 80px;
    border-radius:5px;
    margin-top: 10px;
    font-weight: bolder;
    font-family: "宋体";
}
.txt02 {
    color: #000;
    width: 80%;
    height: 140px;
    margin-left: 10%;
}
.score p{
    color: rgba(241, 78, 2, 0.671);
    font-weight: bolder;
}
.txt02 p {
    font-family: "宋体";
    font-weight: bolder;
    margin-top: 10px;
    font-size: 1ex;
}
.userword01 {
    margin-top: 10px;
    width: 80%;
    height: 120px;
    border: 1px solid grey;
    margin-left: 10%;
}
.userword01 p {
    color: #000;
    margin-top: 5px;
    margin-left: 5px;
}
.middleinfor {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.exit2 {
    height: 50px;
    width: 80%;
    margin-left: 10%;
    color: white;
    font-weight: bold;
    border-radius:5px;
    border: none;
    background-color: rgba(29, 131, 247, 0.911);
}
.talktouser {
    height: 50px;
    width: 25%;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
}
.exit3 {
    height: 40px;
    margin-top: 0px;
    margin-left: 0;
    width: 80%;
    color: white;
    font-weight: bolder;
    font-family: "宋体";
    background-color:rgba(3, 125, 224, 0.747);
    font-size: 1em;
    border: none;
    border-radius:7px;
}
.collection {
    width: 10%;
    margin-top: 10px;
    float: left;
    margin-top: 15px;
}
.buybuy {
    margin-right: 5%;
    height: 50px;
    width: 55%;
    float: right;
    margin-top: 5px;
}
.exit4 {
    height: 40px;
    margin-top: 5px;
    float: right;
    width: 50%;
    color: white;
    font-weight: bolder;
    font-family: "宋体";
    background-color: rgb(255, 127, 52);
    font-size: 1em;
    border: none;
    border-radius: 20px 0 0 20px;
}
.exit5 {
    height: 40px;
    margin-top: 5px;
    float: right;
    width: 50%;
    color: white;
    font-weight: bolder;
    font-family: "宋体";
    background-color: rgba(250, 7, 7, 0.863);
    font-size: 1em;
    border: none;
    border-radius: 0 20px 20px 0;
}
.goodorbad {
    height: 40px;
    width: 100%;
    margin-top: 10px;
}
.good {
    height: 40px;
    width: 50%;
    float: left;
}
.goodword {
    height: 30px;
    margin-top: 5px;
    margin-left: 20%;
    float: left;
    width: 50%;
    color: rgb(13, 13, 15);
    font-weight: bolder;
    font-family: "宋体";
    background-color: rgb(196, 186, 186);
    font-size: 1.2em;
    border: none;
    border-radius:5px;
}
.bad {
    height: 40px;
    width: 50%;
    float: right;
}
.badword {
    height: 30px;
    margin-top: 5px;
    margin-right: 20%;
    float: right;
    width: 50%;
    color: rgb(13, 13, 15);
    font-weight: bolder;
    font-family: "宋体";
    background-color: rgb(196, 186, 186);
    font-size: 1.2em;
    border: none;
    border-radius:5px;
}
.words {
    width: 100%;
    height: 700px;
    margin-top: 20px;
}
.word001 {
    width: 80%;
    margin-left: 10%;
    border: 1px solid grey;
    height: 50px;
    margin-top: 20px;
}
.choose02 {
    margin-left: 50px;
    margin-top: 10px;
    width: 100%;
}