<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="../layui/css/layui.css">
    <style>
        .addimg {
            width: 100px;
            height: 100px;
            margin-left: 20px;
            margin-top: 20px;
            float: left;
            display: block;
        }
    </style>
</head>

<body>
    <form action="http://localhost:3000/system/addbgs" id="form2" method="POST">
        <div style="margin-top: 20px;margin-left: 10px;">
            <span style="margin-right: 10px;">办公室名称</span><input style="height: 22px;width: 200px;" maxlength="8"
                type="text" name="bgs_name" /><span
                style="margin-left: 10px;font-size: 12px;color: silver;font-weight: bold;">(办公室名称最长为8个字符)</span>
        </div>
        <div style="margin-top: 15px;margin-left: 7px;">
            <span style="margin-right: 10px;">办公室地址</span>
            <input style="height: 22px;width: 200px;" type="text" name="bgs_address">
        </div>
        <div style="margin-top: 15px;margin-left: 10px;">
            <span style="margin-right: 53px;">费用</span><input oninput="value=value.replace(/[^\d]/g,'')"
                style="height: 22px;width: 200px;" maxlength="9" type="text" name="bgs_price" />
            <span style="margin-left: 10px;font-size: 12px;color: silver;font-weight: bold;">(单位：元/天)</span>
        </div>
        <div style="margin-top: 15px;margin-left: 10px;">
            <span style="margin-right: 25px;">拥有者ID</span><input oninput="value=value.replace(/[^\d]/g,'')"
                style="height: 22px;width: 200px;" maxlength="12" type="text" name="bgs_ownerid" />
        </div>
        <div style="margin-top: 15px;margin-left: 10px;">
            <span style="margin-right: 53px;">面积</span><input oninput="value=value.replace(/[^\d]/g,'')"
                style="height: 22px;width: 200px;" maxlength="8" type="text" name="bgs_area" />
            <span style="margin-left: 10px;font-size: 12px;color: silver;font-weight: bold;">(单位：平方米)</span>
        </div>
        <div style="margin-top: 20px;margin-left: 10px;">
            <span style="margin-right: 53px;">城市</span><input style="height: 22px;width: 200px;" maxlength="8"
                type="text" name="bgs_city" />
        </div>
        <div style="margin-top: 20px;margin-left: 10px;">
            <span style="margin-right: 53px;">区域</span><input style="height: 22px;width: 200px;" maxlength="8"
                type="text" name="bgs_quyu" />
        </div>
        <input id="imageFile" multiple name="imageFile" type="file" style="margin-left: 10px;" />
        <input type="text" id="imagesadd" style="display: none;">
        <button type="submit" onclick="save()"
            style="cursor: pointer;border: 1px solid rgba(84, 85, 84, 0.144);margin-top: 20px;;border-radius: 10px;font-size: 20px;margin-left: 180px;width: 100px;height: 40px;background: rgba(84, 85, 84, 0.144);">提交</button>
    </form>
</body>
<script src="../layui/layui.all.js" charset="utf-8"></script>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.js"></script>
<script>
    $("input:file").change(function () {
        var files = this.files;
        $.each(files, function (key, value) {
            //每次都只会遍历一个图片数据
            var div = document.createElement("div"),
                img = document.createElement("img");
            var fr = new FileReader();
            fr.onload = function () {
                img.src = this.result;
                div.appendChild(img);
                img.className = "addimg";
                $('#imagesadd').before(div);
            }
            fr.readAsDataURL(value);
        })
    })
    function save() {
        // 获取选择图片的个数
        var length = document.getElementById("imageFile").files.length;
        for (var i = 0; i < length; i++) {
            let input = document.createElement("input");
            // console.log(document.getElementById("imageFile").form.childNodes[17 + i].childNodes[0].currentSrc);
            input.id = "images" + i;
            input.name = "images" + i;
            input.style = "display:none";
            input.value = document.getElementById("imageFile").form.childNodes[17 + i].childNodes[0].currentSrc;
            // 每个图片的base64数据
            $('#imagesadd').after(input);
            // console.log(document.getElementById("imageFile").form.childNodes[16 + i].childNodes[0].currentSrc);
            // console.log(input.value);
        }
        formClose();
    }
    window.formClose = function () {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }
</script>

</html>