<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body style="background: url(/images/login_background.png) no-repeat 100% ;">
  <h1><%= title %></h1>
  <div style="margin-left: 35%;">
    <form method="POST">
      <input style="margin-top: 150px;;width: 360px;height: 50px;font-size: 24px;" type="text" name="username"
        placeholder="用户名" autocomplete="off" class="layui-input" />
      <br />
      <input style="margin-top: 50px;;width: 360px;height: 50px;font-size: 24px;" type="password" name="password"
        placeholder="密码" autocomplete="off" class="layui-input" />
    </form>
    <button class="layui-btn layui-btn-normal">123</button>
  </div>

</body>

</html>