<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="../layui/css/layui.css">
</head>

<body style="background: url(/images/login_background.png) no-repeat 100% ;">
  <div style="margin-left: 35%;">
    <form method="POST" action="http://localhost:3000/system">
      <input style="margin-top: 150px;;width: 360px;height: 40px;font-size: 22px;border-radius: 10px;" type="text"
        name="username" placeholder="用户名" autocomplete="off" class="layui-input" />
      <br />
      <input style="margin-top: 50px;;width: 360px;height: 40px;font-size: 22px;border-radius: 10px;" type="password"
        name="password" placeholder="密码" autocomplete="off" class="layui-input" />
      <button type="submit" class="login_btn">登&nbsp;&nbsp;&nbsp;录</button>
    </form>
  </div>

</body>

</html>