<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/lanmanage.css' />
  <link rel="stylesheet" href="../layui/css/layui.css">
</head>

<body>
  <div class="fd_body">
    <div class="fd_head">
      <div class="fd_head_title">房东管理</div>
      <div class="fd_head_tj"><span style="font-weight: bolder;cursor: pointer;">+ </span><span
          style="font-size: 14px;font-weight: bold;cursor: pointer;"> 新建房东</span></div>
    </div>
  </div>
</body>

</html>