<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/lanmanage.css' />
  <link rel="stylesheet" href="../layui/css/layui.css">
</head>

<body>
  <div class="fd_body">
    <div class="fd_head">
      <div class="fd_head_title">办公室</div>
      <button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal"
        style="margin-top: 15px;margin-left: 50px;">＋新建办公室</button>
      <table class="layui-table" lay-data="{height: 'full-200', cellMinWidth: 80, page: true, 
    url:'/getdata/office', 
    id:'idTest'}" lay-filter="demo">
        <thead>
          <tr>
            <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
            <th lay-data="{field:'officeid', width:200, sort: true, fixed: true}">ID</th>
            <th lay-data="{field:'officename', width:200}">名称</th>
            <th lay-data="{field:'officeaddress', width:200, sort: true}">地址</th>
            <th lay-data="{field:'price', width:200}">价格(/天)</th>
            <th lay-data="{field:'ownerid', width:200}">拥有者id</th>
            <th lay-data="{fixed: 'right', width:280, align:'center', toolbar: '#barDemo'}">操作</th>
          </tr>
        </thead>
      </table>

      <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      </script>
    </div>
  </div>
</body>
<script src="../layui/layui.all.js" charset="utf-8"></script>
<script>
  var active = {
    offset: function () {
      layer.open({
        type: 2,
        title: '新建办公室',
        content: 'http://zy.eatclub.wang:3030/system/bgs_addlist',
        area: ['500px', '600px'],
        shade: 0.5 //遮罩半透明
      });
    }
  };

  $('.layui-btn').on('click', function () {
    var othis = $(this),
      method = othis.data('method');
    active[method] ? active[method].call(this, othis) : '';
  });

  layui.use('table', function () {
    var table = layui.table;
    //监听表格复选框选择
    table.on('checkbox(demo)', function (obj) {
      console.log(obj)
    });
    //监听工具条
    table.on('tool(demo)', function (obj) {
      var data = obj.data;
      if (obj.event === 'detail') {
        layer.open({
          type: 1
          , title: '办公室信息'
          , content: '</br>' + '</br>' + '<span style="margin-left: 30px;font-size:20px">' + '办公室 I D ：' + data.officeid + '</span>' + '</br>' + '</br>' + '<span style="margin-left: 30px;font-size:20px">' + '办公室名称：' + data.officename + '</span>' + '</br>' + '</br>' + '<span style="margin-left: 30px;font-size:20px">' + '办公室地址：' + data.officeaddress + '</span>' + '</br>' + '</br>' + '<span style="margin-left: 30px;font-size:20px">' + '办公室面积：' + data.area + ' 平方米' +'</span>' + '</br>' + '</br>' + '<span style="margin-left: 30px;font-size:20px">' + '办公室价格：' + data.price + ' 元/天' + '</span>' + '</br>' + '</br>' + '<span style="margin-left: 30px;font-size:20px">' + '拥有者 I D ：' + data.ownerid + '</span>'
          , area: ['500px', '400px']
          , shade: 0.5 //遮罩半透明
        });
      } else if (obj.event === 'del') {
        layer.confirm('真的删除行么', function (index) {
          var Id = obj.data.officeid;
          obj.del();
          layer.close(index);
          $.get("http://zy.eatclub.wang:3030/system/deloffice?id=" + Id);
        });
      } else if (obj.event === 'edit') {
        layer.msg('ID：' + data.id + ' 的编辑操作');
      }
    });

    $('.demoTable .layui-btn').on('click', function () {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
</script>

</html>